/* Universal Styles */

html, body {
  max-width: 100%;
  font-family: "Oswald", serif;
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3 {
  font-family: "Abril Fatface", serif;
  color: #62BBC1;
}

h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #62BBC1;
  font-weight: 300;
}

a:hover {
  color: #EC058E;
  font-weight: 800;
}

.caps {
  text-transform: uppercase;
}

.banner-image img {
  width: 100%;
}

/* media queries for universal styles */

@media only screen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1rem;
  }

}

/* Header */

header {
  background-color: #FFFBFC;
  height: 4rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: #EC058E 6px solid;
}

.desktop-logo {
  height: 2rem;
  font-size: 2rem;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.desktop-nav a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #62BBC1;
}

.desktop-nav a:hover {
  color: #EC058E;
}

.desktop-logo, .desktop-nav {
  display: flex;
  align-items: center;
}

.colmar {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.academy {
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
}

header nav ul {
  display: flex;
  margin-right: 3rem;
}

nav li {
  padding-left: 1rem;
}

.mobile {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown span {
  font-family: "Abril Fatface", sans-serif;
  font-size: .8rem;
  padding: .8rem .8rem .8rem .8rem;
  background-color: #FFFBFC;
  border: 1px solid #62BBC1;
  color: #62BBC1;
  margin-bottom: .5rem;
}

.dropdown span:hover {
  background-color: #EC058E;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 10.125rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content p {
  background-color: #62BBC1;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: .8rem;
  border-top: solid 1px #010400;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
  top: 1.75rem;
}

.dropdown-content p:hover {
  background-color: #EC058E;
}


/* media queries for header */

@media only screen and (max-width: 960px) {
  .dropdown {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop-logo, .desktop-nav {
    display: none;
  }
  .mobile {
    display: block;
    width: 100%;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  .mobile-nav img {
    height: 2rem;
  }

  header {
    padding: 0;
  }

  .header nav ul {
    display: block;
    margin-right: 0rem;
  }
}

/* Main */

main {
  position: relative;
  top: 4rem;
}

/* Learn section */

.jumbotron-container {
  background-color: #FFFBFC;
  display: flex;
  align-items: center;
  width: 100%;
}

.jumbotron-left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.jumbotron-right {
  width: 40%;
  display: flex;
  align-items: center;
}

.jumbotron-text {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jumbotron-text h1 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  width: 75%;
}

.jumbotron-text h2 {
  font-size: 1.75rem;
  width: 85%;
  padding-bottom: 2rem;
}

.button {
  background-color: white;
  border: 2px solid #EC058E;
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #010400;
}

.button:hover {
  background-color: #EC058E;
  transition-duration: 200ms;
}

.button:active {
  background-color: #62BBC1;
}

/* media queries for learn section */

@media only screen and (max-width: 800px) {
  .jumbotron-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .jumbotron-left {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .banner-image img {
    width: 100%;
    height: auto;
  }

  .jumbotron-right {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .jumbotron-text {
    width: 100%;
  }

  .jumbotron-text h1 {
    margin-bottom: 1rem;
  }

  .jumbotron-text h2 {
    margin-bottom: 1.5rem;
    width: 80%;
  }

  .button {
    margin-bottom: 2rem;
    width: 70%;
  }
}

@media only screen and (max-width: 550px) {
  .button {
    width: 100%;
  }
}

/* Keep practicing section */

.practice-main-container {
  background-color: white;
  display: flex;
  width: 100%;
}

.practice-left {
  padding: 2rem 1.5rem;
  width: 60%;
}

.practice-left-text {
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
}

.quote {
  font-size: 1rem;
  color: #2A3140;
  font-family: "Roboto", sans-serif;
}

.attribution {
  padding-top: 1.5rem;
  color: #30332E;
  font-size: .8rem;
}

.practice-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.practice-feature {
  display: flex;
  background-color: #62BBC1;
  color: white;
  padding: 1rem 1rem;
}

.practice-feature-image {
  width: 35%;
}

.practice-feature-image img {
  width: 100%;
  border: 1px solid #010400;
}

.practice-feature-image img:hover {
  opacity: 0.80;
  border: 2px solid #EC058E;
}

.practice-feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.practice-feature-text p {
  margin-top: .5rem;
}

.practice-feature-text h3 {
  color: #FFFBFC;
}

.practice-feature-text a {
  color: #010400;
}

.practice-feature-text a:hover {
  color: #EC058E;
}

.speaker {
  background-color: white;
  border: 2px solid #EC058E;
  color: #010400;
}

.speakertext h3 {
  color: black;
}

.speakertext a {
  color: #EC058E;
}

.speakertext a:hover {
  color: #62BBC1;
}

.mobile-image {
  display: none;
}

/* media queries for practice section */

@media only screen and (max-width: 550px) {
  .practice-left {
    display: none;
  }

  .practice-right {
    width: 100%;
    padding-top: 1rem;
  }

  .practice-feature {
    width: 100%;
    flex-direction: column;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .practice-feature-text {
    padding: 1rem 0 .5rem 0;
    width: 80%;
  }

  .practice-feature-text a {
    padding-top: .5rem;
  }

  .practice-feature-text h3 {
    font-size: 1.5rem;
  }
}

/* courses section */

.course-container {
  padding: 2rem 4.5rem;
  background-color: #62BBC1;
  text-align: center;
  max-width: 100%;
}

.course-container h2 {
  padding: 1rem 0;
  margin-bottom: 1rem;
  color: #FFFBFC;
}

.course-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-section {
  display: flex;
  width: 100%;
}

.course-feature {
  width: 33.33%;
  background-color: #FFFBFC;
  margin: 1rem 1rem;
  border-radius: 10px;
  border: 2px solid #010400;
  overflow: hidden;
}

.course-feature img {
  width: 100%;
}

.course-feature:hover {
  opacity: .80;
  border: 3px solid #EC058E;
}

.course-description {
  height: 8rem;
  text-align: left;
  padding: 1rem .5rem .5rem .5rem;
}

.course-description h3 {
  padding-bottom: 0.5rem;
  color: #010400;
}

.courses-header {
  color: #010400;
}

.course-description p {
  margin-top: 0.5rem;
  font-size: .8rem;
  font-weight: 500;
}

.courses-mobile {
  display: none;
}

/* media queries for courses section */

@media only screen and (max-width: 1025px) {
  .course-description h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .courses-header p {
    display: none;
  }

  .course-description p {
    font-size: .8rem;
  }
}

@media only screen and (max-width: 640px) {
  .course-container {
    display: none;
  }

  .courses-mobile {
    display: block;
    text-align: center;
    padding: 1rem;
  }

  .courses-mobile h2 {
    padding: .5rem 0;
    margin-bottom: 1rem;
  }

  .course-title-mobile {
    width: 100%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #62BBC1;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
  }

  .course-title-mobile:hover {
    background-color: #EC058E;
    transition-duration: 200ms;
  }

  .course-title-mobile:active {
    background-color: #D93240;
  }

  .course-title-mobile h3 {
    color: #FFFBFC;
    padding: 0;
    font-family: "Oswald", sans-serif;
  }
}

/* Thesis section */

.thesis-container h2 {
  text-align: center;
  padding: 2rem 0;
}

.thesis-grid {
  display: flex;
}

.thesis-left {
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 60%;
}

.thesis-video video {
  width: 100%;
}

.video-text h3 {
  padding-top: 1.5rem;
  font-size: 1.5rem;
}

.video-text p {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.thesis-right {
  width: 40%;
}

.thesis-feature {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #62BBC1;
}

.thesis-feature-image {
  width: 35%;
  padding: 1rem 1rem;
}

.thesis-feature-text {
  text-align: left;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-feature-text p {
  font-size: 1rem;
  margin-top: .5rem;
}

.thesis-feature-image img {
  width: 100%;
  border: 1px solid #010400;
}

.thesis-feature-image img:hover {
  opacity: 0.80;
  border: 2px solid #EC058E;
}

.thesis-feature-text h3 {
  color: #FFFBFC;
}

.thesis-feature-text a {
  color: #010400;
}

.thesis-feature-text a:hover {
  color: #EC058E;
}

.offset {
  background-color: white;
  border: 2px solid #EC058E;
}

.offset h3 {
  color: black;
}

.offset  a {
  color: #EC058E;
}

.offset  a:hover {
  color: #62BBC1;
}

/* media queries for thesis section */

@media only screen and (max-width: 550px) {
  .thesis-right {
    display: none;
  }

  .video-text {
    display: none;
  }

  .thesis-left {
    width: 100%;
  }
}

/* Footer */

footer {
  position: relative;
  top: 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 4rem;
  padding-top: 1rem;
  border-top: 1px solid #EC058E;
  color: #62BBC1;
  font-size: 0.75rem;
}

.footer-left {
  margin-left: 1.5rem;
}

.footer-right li {
  display: inline-block;
  margin-right: 1.5rem;
}

/* media queries for footer */

@media only screen and (max-width: 700px) {
  footer {
    height: auto;
    background-color: white;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
  }

  .footer-right {
    display: none;
  }

  .copyright {
    font-weight: 600;
  }
}

@media only screen and (max-width: 640px) {
  .style-chooser-mobile {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
  }

  .style-chooser-mobile span {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }

  .style-chooser-mobile-content {
    display: block;
    position: absolute;
    width: 90%;
  }

  .style-chooser-mobile-content p {
    background-color: #62BBC1;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: .8rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: .8rem;
    border-top: solid 1px #D9D8C7;
  }

  .style-chooser-mobile-content p:hover {
    background-color: #EC058E;
  }
}
