/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: midnightblue;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
}

.caps {
  text-transform: uppercase;
}

/* Header */

header {
  background-color: white;
  height: 4rem;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: midnightblue 1px solid;
}

.desktop-logo {
  height: 2rem;
  font-size: 1.5rem;
}

.desktop-nav {
  display: flex;
  align-items: center;
}

.desktop-nav a {
  text-decoration: none;
  color: midnightblue;
}

.desktop-logo, .desktop-nav {
  display: flex;
  align-items: center;
}

.colmar {
  font-weight: bold;
}

header nav ul {
  display: flex;
  margin-right: 3rem;
}

nav li {
  padding-left: 1rem;
}

/* Main */

.main {
  position: relative;
  top: 4rem;
}

/* Learn section */

.jumbotron-container {
  background-color: Gainsboro;
  display: flex;
  align-items: center;
  width: 100%;
}

.jumbotron-banner {
  width: 60%;
  padding: 2rem 1.5rem;
}

.jumbotron-banner img {
  width: 100%;
}

.banner-text {
  width: 40%
}

.learn-title {
  width: 85%;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.learn-subtitle {
  width: 85%;
}

.button {
  background-color: midnightblue;
  width: 70%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  width: 100%;
  text-align: center;
  color: white;
}

/* Keep practicing section */

.practice-main-container {
  background-color: white;
  display: flex;
  width: 100%;
}

.practice-left-container {
  width: 60%;
}

.practice-banner {
  padding: 2rem 1.5rem;
}

.practice-banner img {
  width: 100%;
}

.practice-left-text {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

.quote {
  font-size: 1rem;
  color: DarkSlateGrey;
}

.attribution {
  padding-top: 1.5rem;
  color: LightSlateGrey;
}

.practice-right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.practice-feature {
  display: flex;
  background-color: Gainsboro;
  padding: 1rem 1rem;
  border-bottom: DarkSlateGrey 1px solid;
}

.practice-feature-image {
  width: 35%;
}

.practice-feature-image img {
  width: 100%;
}

.practice-feature-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 1rem;
}

.practice-feature-text p {
  margin-top: .5rem;
}

/* Start Learning section */

.course-container {
  padding: 2rem 4.5rem;
  background-color: LightSlateGrey;
  text-align: center;
  width: 100%;
}

.course-container h2 {
  margin-bottom: 1rem;
}

.course-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.course-section {
  display: flex;
  width: 100%;
}

.course-feature {
  width: 33.33%;
  background-color: white;
  margin: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid midnightblue;
}

.course-feature img {
  width: 100%;
}

.course-description {
  height: 8rem;
  text-align: left;
  padding: 1rem .5rem .5rem .5rem;
}

.course-description h3 {
  padding-bottom: 0.5rem;
}

.course-description p {
  margin-top: 0.5rem;
}

/* Thesis section */

.thesis-container {
  padding-top: 4rem;
}

.thesis-container h2 {
  text-align: center;
}

.thesis-grid {
  display: flex;
}

.thesis-left-container {
  padding: 2rem 1.5rem;
  width: 60%;
}

.thesis-video video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.video-text {

}

.thesis-right-container {
  width: 40%;
  padding-top: 2rem;
  padding-right: 0.35rem;
}

.thesis-feature {
  display: flex;
  width: 100%;
  padding: 1rem 1rem;
  background-color: Gainsboro;
  border-bottom: DarkSlateGrey 1px solid;
}

.thesis-feature-image {
  width: 35%;
  padding-right: 1rem;
}

.thesis-feature-text {
  text-align: left;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thesis-feature-image img {
  width: 100%;
}

/* Footer */

footer {
  position: relative;
  top: 4rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  font-size: 0.75rem;
  padding-top: 1rem;
}

.copyright {
  margin-left: 1.5rem;
}

.terms li {
  display: inline-block;
  margin-right: 1.5rem;
}
